<header>
    <div class="wrapper">
        <div class="header_logo">
            <div class="header_leftside">
               <div class="logo_img">
                   <img src="assets/img/logo_new.jpg" [routerLink]='["/"]' alt="logo">
               </div>
               <div class="header_line full_size">
                <ul>
                    <li routerLink='/'>Домашнаяя страница</li>
                    <li routerLink='/products'>Каталог</li>
                    <li routerLink='/about'>О нас</li>
                    <li routerLink='/enter'>Регистрация</li>
                    <li routerLink='/contacts'>Контакты</li>     
                </ul>
               </div>  
            </div>
            <div class="header_rightside">
            <div class="block_search">
                <a href="#" class="search_btn">
                    <img src="assets/img/search_grey.png" alt="search">
                </a>
                <input class="search_txt" placeholder="Поиск" type="text" name="" id="">
            </div>
            <div class="block_main">
                <div class="block_basket">
                    <a routerLink='/basket' href="#">
                        <img src="assets/img/shopping_cart.png" alt="">
                    </a>
                </div>
                <div class="block_basket position_lower">
                    <a routerLink='/profile' href="#">
                        <img src="assets/img/profile.png" alt="">
                    </a>
                </div>
                <div class="hamburger_menu mere_size">
                    <input id="menu__toggle" type="checkbox" />
                    <label class="menu__btn" for="menu__toggle">
                      <span></span>
                    </label>
                
                    <ul class="menu__box">
                        <li routerLink='/'><a class="menu__item">Домашнаяя страница</a></li>
                        <li routerLink='/products'><a class="menu__item">Каталог</a></li>
                        <li routerLink='/about'><a class="menu__item">О нас</a></li>
                        <li routerLink='/enter'><a class="menu__item">Регистрация</a></li>
                        <li routerLink='/contacts'><a class="menu__item">Контакты</a></li>
                    </ul>
                </div> 
            </div>
            </div>
        </div>   
    </div>
</header>
