header {
    background-color: #fff;
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
}

.position_lower {
    padding-top: 5px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.block_search {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    border: 1px solid #333;
    border-radius: 15px;
    width: 225px;
    height: 30px;
    margin: 5%;
}

.block_search img {
    width: 20px;
    height: 20px;
}

.search_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;   
}

.search_txt {
    border: none;
    outline: none;
    background: none;
    color: rgb(63, 103, 204);;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-left: 10px;
    padding-right: 10px;  
}

input[type="text"]::-webkit-input-placeholder {
    color: rgb(63, 103, 204);;
    font-weight: bold;
}

.block_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.block_lang a:hover {
    color: white;
}

p {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    user-select: none;
}

.block_basket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .6s;
}

.block_basket img {
    width: 50px;
    height: 50px;
}

.header_line {
    width: 100%;
    padding-bottom: 20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

li {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    list-style: none;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .6s;
    line-height: 1;
}

li:after {
	display: block;
	position: absolute;
    top: 25px;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: rgb(63, 103, 204);; 
	content: "";
	transition: width 0.3s ease-out;
}

li:hover:after,
li:focus:after {
	width: 100%;
}

li:hover {
    color: rgb(63, 103, 204);; 
}

li a {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    list-style: none;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    transition: .6s;
    line-height: 1;
}

li a:after {
	display: block;
	position: absolute;
    top: 25px;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: rgb(63, 103, 204);; 
	content: "";
	transition: width 0.3s ease-out;
}

li a:hover:after,
li a:focus:after {
	width: 100%;
}

li a:hover {
    color: rgb(63, 103, 204);; 
}

.logo_img {
    cursor: pointer;
}

.logo_img img {
    width: 100px;
    height: 100px;
}

.header_leftside {
    display: flex;
    gap: 10%;
}

.header_rightside {
    display: flex;
    padding-bottom: 2%;
}

.mere_size {
    display: none;
    width: 50px;
    height: 50px;
}

#menu__toggle {
    display: none;
    opacity: 0;
  }
  
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg); 
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
    transform: translateX(0);
}
  
.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 35px;
    right: auto;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
}
  
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}
  
.menu__box {
    display: flex;
    position: absolute;
    visibility: hidden;
    top: 0;
    width: 100%;
    height: 40px;
    margin-top: 90px;
    list-style: none;
    background-color: #ECEFF1;
    transition: .25s;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    transform: translateX(100px);
}
  
.menu__item {
    display: block;
    justify-content: space-around;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    transition: .25s;
}

@media screen and (max-width:960px) {
    .wrapper {
        height: 130px;
    }
    .header_logo {
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .logo_img img {
        height: 50px;
        width: 50px;
    }
    .full_size {
        display: none;
    }
    .mere_size {
        display: flex;
    }
    .block_search {
        justify-content: unset;
        width: 150px;
    }
    .search_txt {
        width: 100px;
        padding-left: 10px;
    }
    // .header_rightside {
    //     padding-right: 40px;
    // }
}

@media screen and (max-width:570px) {
    .wrapper {
        height: 140px;
    }
    .menu__box {
        display: flex;
        flex-wrap: wrap;
        flex: 50%;
        height: 10px;
        padding: 5px;
        justify-content: center;
        background-color: transparent;
    }
    .menu__box li {
        width: auto;
    }
    .menu__item {
        height: 100%;
    }
    li:after {
        top: 10px;
    }
    li a:after {
        display: none;
    }
}