<div class="about">
    <div class="sign_logo">
        <h1>Всё про нашу <span class="blue_text">компанию</span></h1>
        <p class="sign_text">Ответы на интересующие Вас вопросы</p>
    </div>
    <div class="about_me_main">
        <div class="about_me_main_row1">
            <img src="assets/img/group_photo.png" class="about_me_photo name_margin">
            <div class="block_column">
                <h2 class="text_center">Кто <span class="blue_text">мы?</span></h2>
                <p class="about_me_main_text name_margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nunc justo, venenatis sit amet egestas ac, convallis non nisi. Duis id fermentum justo, et tincidunt sapien. Morbi dictum, nulla nec vehicula pellentesque, purus felis tempus mauris, sed mollis sem risus ac lorem. Sed lobortis vitae velit a lobortis. Phasellus hendrerit ultricies nulla, in mattis ligula laoreet eu. Integer dapibus enim nec ipsum facilisis gravida. In hac habitasse platea dictumst. Vivamus volutpat metus odio.</p>
            </div>
        </div>
        <hr>
        <div class="about_me_main_row2">
            <div class="block_column">
                <h2 class="text_center">Чем <span class="blue_text">мы</span> занимаемся?</h2>
                <p class="about_me_main_text name_margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nunc justo, venenatis sit amet egestas ac, convallis non nisi. Duis id fermentum justo, et tincidunt sapien. Morbi dictum, nulla nec vehicula pellentesque, purus felis tempus mauris, sed mollis sem risus ac lorem. Sed lobortis vitae velit a lobortis. Phasellus hendrerit ultricies nulla, in mattis ligula laoreet eu. Integer dapibus enim nec ipsum facilisis gravida. In hac habitasse platea dictumst. Vivamus volutpat metus odio.</p>
            </div>    
                <img src="assets/img/people_looking_for.jpg" class="about_me_photo photo_row2 name_margin">
        </div>
        <hr>
        <div class="about_me_main_row3">
            <img src="assets/img/wardrobe.webp" class="about_me_photo photo_row3 name_margin">
            <div class="block_column">
                <h2 class="text_center">Что есть на этом <span class="blue_text">сайте?</span></h2>
                <p class="about_me_main_text name_margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nunc justo, venenatis sit amet egestas ac, convallis non nisi. Duis id fermentum justo, et tincidunt sapien. Morbi dictum, nulla nec vehicula pellentesque, purus felis tempus mauris, sed mollis sem risus ac lorem. Sed lobortis vitae velit a lobortis. Phasellus hendrerit ultricies nulla, in mattis ligula laoreet eu. Integer dapibus enim nec ipsum facilisis gravida. In hac habitasse platea dictumst. Vivamus volutpat metus odio.</p>
            </div>
        </div>
        <hr>
        <div class="about_me_main_row4">
            <div class="block_column">
                <h2 class="text_center">Наши <span class="blue_text">перспективы</span></h2>
                <p class="about_me_main_text name_margin">Мы держим руку на пульсе моды. Наш ассортимент пополняется на основе последних писков моды!</p>
            </div>    
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XhMgln9-DoQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>