<div class="contacts">
    <div class="sign_logo">
        <h1>Связаться с <span class="blue_text">нами</span> -</h1>
        <p class="sign_text">легко и просто. Проверьте!</p>
    </div>
    <div id="contacts" class="contacts_field">
        <div class="contacts_field_left_part">
        <div class="contacts_field_inputs">
            <div class="contacts__input">
                <input type="text" placeholder="Ваше имя">
            </div>
            <div class="contacts__input">
                <input type="mail" placeholder="Email">
            </div>
            <div class="contacts__input">
                <input  type="phone" placeholder="Телефон">
            </div>
            <div class="contacts__input">
                <input type="text" placeholder="Ваше сообщение">
            </div>
            <input type="submit" class="sign_catalog submit_button" value="Связаться с нами">
            <div class="social_network_home">
            <a href="https://www.instagram.com/artukhovskiy/">
                <img src="assets/img/instagram_new.png" alt="social">
            </a>
            <a href="https://vk.com/id84353596">
                <img src="assets/img/vk.png" alt="social">
            </a>
            </div>
        </div>
        
        </div>
        <div class="contacts_field_right_part">
            <div class="contacts_field_block">
                <img src="assets/img/location_new.png" alt="social">
                <div class="contacts_field_text">
                    <p class="contacts_field_upper_text">Address</p>
                    <p class="contacts_field_lower_text">Coza Store Center 8th floor, 379 Hudson St, New York, NY 10018 US</p>
                </div>
            </div>
            <div class="contacts_field_block">
                <img src="assets/img/telephone.png" alt="social">
                <div class="contacts_field_text">
                    <p class="contacts_field_upper_text">Lets Talk</p>
                    <p class="contacts_field_lower_text_blue">+1 800 1236879</p>
                </div>
            </div>
            <div class="contacts_field_block">
                <img src="assets/img/mail.png" alt="social">
                <div class="contacts_field_text">
                    <p class="contacts_field_upper_text">Sale Support</p>
                    <p class="contacts_field_lower_text_blue">contact@example.com</p>
                </div>
            </div>
        </div>
    </div>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2003.9220045591112!2d37.41079786002719!3d55.68331233629306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54e0d45323bd5%3A0xda6c23026165b2da!2z0JfQsNGA0LXRh9GM0LUsINCc0L7RgdC60L7QstGB0LrQsNGPINC-0LHQuy4!5e0!3m2!1sru!2sru!4v1594646576788!5m2!1sru!2sru" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>