<div class="enter">
    <div class="enter_field_skew">
        <div class="enter_field">
            <p class="enter_sign_upper">Вход</p>
            <a href="#" class="forget_button">У меня ещё нет аккаунта</a>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <div class="enter_checkbox">
                <input id='one' type='checkbox' />
                <label for='one'>
                    <span></span>
                    Запомнить меня
                </label>
            </div>
            <a href="#" class="enter_button">Вход</a>
            <a href="#" class="forget_button padding_bottom">Забыл пароль</a>
        </div>
    </div>
</div>