.padding_top {
    padding-bottom: 5%;
}

.goods_img {
    width: 129px;
    height: 141px;
}

.position_cancel img{
    width: 14.5px;
    height: 14.5px;
    transform: rotate(90deg);
}

.position_cancel {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(63, 103, 204);
    border-radius: 20px;
    right: -50px;
    padding-top: 12.8px;
    padding-left: 13px;
    visibility: hidden;
    transition: .5s;
}

.basket_position:hover {
    background-color: rgb(63, 103, 204);
    border: 1px solid rgb(63, 103, 204);
    .position_cancel {
        visibility: visible;
    }
    .product_options_up p {
        color: #fff;
    }
    .product_options_price {
        color: #fff;
    }
    .product_options_list_option p {
        color: #fff;
    }
}

.basket {
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    padding-top: 10%;
}

.basket_main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}

.basket_block {
    display: flex;
}

.basket_left_block {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.basket_main_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #333;
    text-align: center;
    padding-bottom: 5%;
}

.basket_fields {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    color: #333;
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-around;
}

.basket_position {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 700px;
    margin: 0 auto;
    transition: .6s;
}


.product_options_up {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    gap: 5px;
}

.product_options_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    color: #333;
    text-align: center;
    width: 220px;
}

.product_options_type {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    text-align: left;
    white-space: nowrap;
}

.product_options_list {
    display: flex;
    margin-right: 100px;
    gap: 5%;
}

.product_options_list_option {
    display: flex;
    gap: 4%;
}

.product_options_list_option p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 24px;
    color: #333;
}

label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    color: #FFFFFF;
}

.product_options_price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 39px;
    text-align: center;
    color: rgb(63, 103, 204);
    padding-right: 8%;
    white-space: nowrap;
}

.order {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.order_title {
    font-family: 'Montserrat';
    font-style: normal;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 44px;
    color: #333;
    text-align: center;
    padding-bottom: 5%;
}

.order_ordering {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    border: 1px solid #333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 20px;
    padding: 5%;
    transition: .5s;
}

.order_ordering:hover {
    border-color: rgb(63, 103, 204);
    background-color: rgb(63, 103, 204);
    .order_price {
        color:#fff;
    }
    .price {
        color:#fff;
        transition: width 0.3s ease-out;
    }
    .price:after {
        display: block;
        position: absolute;
        top: 25px;
        left: 0; 
        height: 2px; 
        background-color: rgb(255, 255, 255); 
        content: "";
        width: 100%;
        color: rgb(255, 255, 255); 
    }    
    .order_price_sum {
        color:#fff;
    }
    .price_final {
        color:#000;
    }
    .price_final:after {
        display: block;
        position: absolute;
        top: 35px;
        left: 0; 
        height: 2px; 
        background-color: #000; 
        content: "";
        width: 100%;
        color: #000; 
    }
}

.order_summing {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order_line {
    display: flex;
    gap: 3%;
}

.order_price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #333;
}

.price {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: rgb(18, 37, 146);
}

.order_final {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.order_price_sum {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 39px;
    color: #333;
}

.price_final {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: rgb(63, 103, 204);
}

.order_button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #333;
    width: 199px;
    height: 50px;
    border: 2px solid #333;
    text-decoration: none;
    transition: .5s;
    text-align: center;
    padding: 4%;
    margin: 0 auto;
    margin-top: 20px;
}

.order_button:hover {
    color: #fff;
    border-color: rgb(63, 103, 204);
    background-color: rgb(63, 103, 204); 
}

@media screen and (max-width:960px) {
    .basket {
        padding-top: 150px;
    }
    .basket_block {
        display: flex;
        flex-direction: column;
    }
    .order {
        padding-top: 5%;
    }
    .position_cancel {
        bottom: -60px;
        left: 340px;
    }
    .basket_left_block {
        width: 100%;
        gap: 80px;
    }
    .basket_position {
        width: 100%;
    }
    .basket_position:last-child {
        margin-bottom: 50px;
    }
    .product_options_up {
        margin-right: 30px;
    }
    .product_options_list {
        margin-right: 80px;
    }
}

@media screen and (max-width:570px) {
    .basket_main {
        width: 100%;
    }
    .basket_fields {
        margin: 0 auto;
        width: 95%;
        font-size: 7px;
        justify-content: space-between;
    }
    .basket_left_block {
        gap: 80px;
    }
    .basket_position {
        width: 98%;
        margin: 0 auto;
        gap: 20px;
    }
    .product_options_up {
        margin-right: 0;
        align-content: flex-start;
    }
    .product_options_list {
        margin-right: 0;
    }
    .basket_position:last-child {
        margin-bottom: 50px;
    }
    .product_options_name {
        font-size: 15px;
        line-height: normal;
        width: auto;
    }
    .product_options_price {
        float: right;
        font-size: 18px;
    }
    .position_cancel {
        bottom: -60px;
        left: 180px;
    }
    .goods_img {
        width: 100px;
        height: 120px;
    }
}