<div class="basket">
    <div class="basket_main">
        <p class="basket_main_title">Корзина</p>
        <div class="basket_block">
        <div class="basket_left_block">    
        <div class="basket_fields">
            <h1>Продукт</h1>
            <h1>Наименование</h1>
            <h1>Количество</h1>
            <h1>Стоимость</h1>
        </div>
        <div class="basket_position">
            <img class="goods_img" src="assets/img/9-800x800 1.png">
            <div class="product_options_up">
                <p class="product_options_name">Желтое худи</p>
                <p class="product_options_type">худи, одежда</p>
            </div>
            <div class="product_options_list">
                <div class="product_options_list_option option_third">
                    <p>1</p>
                </div>
            </div>
            <p class="product_options_price">1199.00 грн</p>
            <div class="position_cancel">
                <a href="#">
                   <img  src="assets/img/cross.png">  
                </a>
            </div>
        </div>
        <div class="basket_position">
            <img class="goods_img" src="assets/img/9-800x800 1.png">
            <div class="product_options_up">
                <p class="product_options_name">Желтое худи</p>
                <p class="product_options_type">худи, одежда</p>
            </div>
            <div class="product_options_list">
                <div class="product_options_list_option option_third">
                    <p>1</p>
                </div>
            </div>
            <p class="product_options_price">1199.00 грн</p>
            <div class="position_cancel">
                <a href="#">
                    <img  src="assets/img/cross.png">  
                 </a>  
            </div>    
        </div>
        <div class="basket_position">
            <img class="goods_img" src="assets/img/9-800x800 1.png">
            <div class="product_options_up">
                <p class="product_options_name">Желтое худи</p>
                <p class="product_options_type">худи, одежда</p>
            </div>
            <div class="product_options_list">
                <div class="product_options_list_option option_third">
                    <p>1</p>
                </div>
            </div>
            <p class="product_options_price">1199.00 грн</p>
            <div class="position_cancel">
                <a href="#">
                    <img  src="assets/img/cross.png">  
                </a>   
            </div>
        </div>
        </div>
        <div class="order">
        <div class="order_upper">
            <p class="order_title">Оформить заказ</p>
        </div>
        <div class="order_lower">
            <div class="order_ordering">
                <div class="order_summing">
                    <span class="order_line"><p class="order_price">Заказ:</p><p class="price">1100 грн</p></span>
                    <span class="order_line"><p class="order_price">Доставка:</p><p class="price">50 грн</p></span>
                </div>
                <div class="order_final">
                    <span class="order_line padding_top"><p class="order_price_sum">Итого:</p><p class="price_final">1150 грн</p></span>
                </div>
            </div>
        </div>
        <a href="#" class="order_button">Оформить заказ</a>    
        </div>
    </div>
    
    </div>
</div>