.category_product_name {
    color: rgb(63, 103, 204);
}

.left_indent {
    padding-left: 2%;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    transition: .8s;
}

.product_container {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #A4A4A4;
    margin: 0 auto;
    padding-top: 15%;
    padding-bottom: 5%;
}

.product_main {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 95%;
    margin-top: 3%;
    border: 2px solid #333;
    border-radius: 15px;
    transition: .6s;
}

.product_main:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.product_main:hover {
    // background-color: rgb(40, 62, 186);
    background-color: rgb(63, 103, 204);
    border: 2px solid rgb(63, 103, 204);
    outline: 3px solid rgb(63, 103, 204);
    .product_options p {
        color: #fff;
    }
    label {
        color: #fff;
    }
}

.product_main_upper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2%;
    gap: 2%;
}

.product_img {
    width: 535px;
    height: 529px;
    border: 1px solid #333;
    transition: .6s;
}

.product_img:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.product_position {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    padding-bottom: 5%;
    color: #333;
    transition: .6s;
}

.category_products {
    position: relative;
    cursor: pointer;
}

.category_products:after {
    display: block;
    position: absolute;
    top: 35px;
    left: 0; 
    width: 0;
    height: 2px; 
    background-color: rgb(63, 103, 204);
    content: "";
    transition: width 0.3s ease-out;
}
  
.category_products:hover:after,
.category_products:focus:after {
    width: 100%;
}
  
.category_products:hover {
    color: rgb(63, 103, 204);
}

.category_products_type_of_product {
    position: relative;
    cursor: pointer;
}

.category_products_type_of_product:after {
    display: block;
    position: absolute;
    top: 35px;
    left: 0; 
    width: 0;
    height: 2px; 
    background-color: rgb(63, 103, 204);
    content: "";
    transition: width 0.3s ease-out;
}
  
.category_products_type_of_product:hover:after,
.category_products_type_of_product:focus:after {
    width: 100%;
}
  
.category_products_type_of_product:hover {
    color: rgb(63, 103, 204);
}

.category_product_name {
    position: relative;
    cursor: pointer;
}

.category_product_name:after {
    display: block;
    position: absolute;
    top: 35px;
    left: 0; 
    width: 0;
    height: 2px; 
    background-color: rgb(63, 103, 204);
    content: "";
    transition: width 0.3s ease-out;
}
  
.category_product_name:hover:after,
.category_product_name:focus:after {
    width: 100%;
}

.category_products_type_of_product {
    position: relative;
}

.category_products_type_of_product:after {
    display: block;
    position: absolute;
    top: 35px;
    left: 0; 
    width: 0;
    height: 2px; 
    background-color: rgb(63, 103, 204);
    content: "";
    transition: width 0.3s ease-out;
}
  
.category_products_type_of_product:hover:after,
.category_products_type_of_product:focus:after {
    width: 100%;
}
  
.category_products_type_of_product:hover {
    color: rgb(63, 103, 204);
}

.product_options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.product_options_up {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.product_options_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 58px;
    text-align: center;
    color: #333;
}

.product_options_type {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #333;
    text-align: left;
}

.product_options_list {
    display: flex;
    gap: 5%;
}

.product_options_list_option {
    display: flex;
    gap: 4%;
}

.product_options_price {
    font-family: 'Montserrat';
    font-style: normal;
    position: relative;
    font-weight: 600;
    font-size: 28px;
    line-height: 59px;
    text-align: center;
    color: rgb(63, 103, 204);
}

.product_options_price:after {
    display: block;
    position: absolute;
    top: 45px;
    left: 0; 
    width: 0;
    height: 2px; 
    background-color: #fff; 
    content: "";
    transition: width 0.3s ease-out;
}
  
.product_options_price:hover:after,
.product_options_price:focus:after {
    width: 100%;
}

label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    color: #333;
}

.first_skew {
    width: 63.5px;
    height: 30px;
}

.second_skew {
    width: 108px;
    height: 30px;
}

.third_skew {
    width: 94px;
    height: 30px;
}

.product_options_buttons {
    display: flex;
    gap: 15%;
}

.buy_button {
    display: block;
    font-family: 'Inter';
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    line-height: 52px;
    color: #333;
    width: 280px;
    height: 60px;
    border: 2px solid #333;
    transition: .5s;
}

.buy_button:after {
    display: block;
    position: absolute;
    top: 45px;
    left: 50%; 
    width: 0;
    height: 2px; 
    background-color: #fff; 
    content: "";
    transition: width 0.3s ease-out;
}
  
.buy_button:hover:after,
.buy_button:focus:after {
    width: 100%;
}

.buy_button:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: rgb(63, 103, 204);
}

.like_button {
    width: 50px;
    height: 50px;
    align-self: center;
    transition: .6s;
}

.like_button:hover {
    background-color: #fff;
    border-radius: 25px;
}

.like_button_trigger {
    display: flex;
}

.product_main_lower {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
}

.product_main_description_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #F0F0F0;
}

.product_main_description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #333;
}


.select-css { 
    display: block; 
    font-size: 16px; 
    font-family: sans-serif; 
    font-weight: 700; 
    color: #444; 
    line-height: 1.3; 
    padding: .6em 1.4em .5em .8em;
    width: 100px; 
    max-width: 100%; 
    box-sizing: border-box; 
    margin-top: -5px; 
    border: 1px solid #aaa;
     box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .5em;
     -moz-appearance: none;
     -webkit-appearance: none;
     appearance: none;
     background-color: #fff; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    transition: .6s; 
} 

.select-css::-ms-expand {
    display: none;
} 

.select-css:hover { 
    border-color: #333;
} 

.select-css:focus {
    border-color: #333; 
    box-shadow: 0 0 1px 3px rgba(0,0,0,.04);
    box-shadow: 0 0 0 3px -moz-mac-focusring; 
    color: #333;
    outline: none; 
}

.select-css option {
    font-weight:normal;
} 

*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
    background-position: left .7em top 50%, 0 0; 
    padding: .6em .8em .5em 1.4em; 
}

@media screen and (max-width:960px) {
    .product_container {
        margin-top: 50px;
    }
    .product_position {
        margin: 0 auto;
    }
    .product_img {
        align-self: center;
        width: 97%;
        height: 100%;
    }
    .product_options_name {
        font-size: 36px;
    }
    .product_main_upper {
        flex-direction: column;
    }
    .product_options {
        width: 95%;
        margin: 0 auto;
    }
    .product_options_list {
        padding-top: 25px;
        padding-bottom: 25px;
        flex-wrap: wrap;
        gap: 25px;
    }
    .product_options_buttons {
        padding-bottom: 25px;
    }
    option {
        height: 20px;
        width: 50px;
    }    
}

@media screen and (max-width:570px) {
    .product_container {
        margin-top: 150px;
    }
}