<div class="product">
    <div class="product_container">
        <p class="product_position"><span routerLink='/products' class="category_products">каталог</span> / <span class="category_products_type_of_product">худи</span> / <span class="category_product_name">желтое худи</span></p>
        <div class="product_main">
            <div class="product_main_upper">
                <img class="product_img" src="assets/img/9-800x800 1.png">
                <div class="product_options">
                    <div class="product_options_up">
                        <p class="product_options_name">Желтое худи</p>
                        <p class="product_options_type">худи</p>
                        <!-- <div class="star_row">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_empty.png">
                        </div> -->
                    </div>
                    <p class="product_options_price">1199.00 грн</p>
                    <div class="product_main_lower">
                        <!-- <p class="product_main_description_title">Описание</p> -->
                        <p class="product_main_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor aenean enim, bibendum sed massa tellus in. In ultrices et egestas faucibus vestibulum in. Eget nunc leo, in pellentesque. Sed habitant a lectus velit neque. Sed in accumsan in dictum ac.</p>
                    </div>
                    <div class="product_options_list">
                        <div class="product_options_list_option option_first">
                            <label for="atributes_size">Размер: </label>
                            <select class="select-css">
                                <option value="">Пункт 1</option>
                              </select>
                            <!-- <div class="atributes__select__wrap">
                                <div class="atributes_wrapper_skew first_skew"></div> 
                            </div> -->
                        </div>
                        <div class="product_options_list_option option_second">
                            <label for="atributes_color">Цвет: </label>
                            <select class="select-css">
                                <option value="">Пункт 1</option>
                              </select>
                                <!-- <div class="atributes__select__wrap second_wrap">
                                    <div class="atributes_wrapper_skew second_skew"></div>
                            </div> -->
                        </div> 
                        <div class="product_options_list_option option_third">
                            <label for="atributes_amount">Количество: </label>
                            <select class="select-css">
                                <option value="">Пункт 1</option>
                              </select>
                                <!-- <div class="atributes__select__wrap second_wrap">
                                    <div class="atributes_wrapper_skew third_skew"></div>
                            </div> -->
                        </div>
                    </div>
                    <div class="product_options_buttons">
                        <input type="submit" class="buy_button" value="ДОБАВИТЬ В КОРЗИНУ">
                        <a href="#" class="like_button_trigger"><img class="like_button" src="assets/img/profile.png"></a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <div class="product_reviews">
            <div class="product_reviews_menu">
                <p class="product_reviews_title">Отзывы</p>
                <a href="#" class="buy_button">Оставить отзыв</a>
            </div>
            <div class="product_review">
                <div class="review">
                    <img class="review_author" src="assets/img/reviews_author.png">
                    <div class="review_upper_part">
                        <p class="reviewer_name left_indent">Дмитрий Милен</p>
                        <div class="star_row left_indent">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_full.png">
                        </div>
                    </div>
                </div>
                <div class="review_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor aenean enim, bibendum sed massa tellus in. In ultrices et egestas faucibus vestibulum in. Eget nunc leo, in pellentesque. Sed habitant a lectus velit neque. Sed in accumsan in dictum ac.</div>
            </div>
            <div class="product_review">
                <div class="review">
                    <img class="review_author" src="assets/img/reviews_author.png">
                    <div class="review_upper_part">
                        <p class="reviewer_name left_indent">Дмитрий Милен</p>
                        <div class="star_row left_indent">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_full.png">
                        </div>
                    </div>
                </div>
                <div class="review_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor aenean enim, bibendum sed massa tellus in. In ultrices et egestas faucibus vestibulum in. Eget nunc leo, in pellentesque. Sed habitant a lectus velit neque. Sed in accumsan in dictum ac.</div>
            </div>
            <div class="product_review">
                <div class="review">
                    <img class="review_author" src="assets/img/reviews_author.png">
                    <div class="review_upper_part">
                        <p class="reviewer_name left_indent">Дмитрий Милен</p>
                        <div class="star_row left_indent">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_full.png">
                            <img class="star" src="assets/img/Star_full.png">
                        </div>
                    </div>
                </div>
                <div class="review_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor aenean enim, bibendum sed massa tellus in. In ultrices et egestas faucibus vestibulum in. Eget nunc leo, in pellentesque. Sed habitant a lectus velit neque. Sed in accumsan in dictum ac.</div>
            </div>
        </div>
        <div class="product_recommendations">
            <p class="product_recommendations_title">Рекомендуем вам</p>
            <div class="products_goods">
                <div class="products_goods_example">
                    <a routerLink='/product' href="#"><img class="t_shirt t_shirt_position" src="assets/img/shirt_white.png"></a>
                    <p class="products_goods_upper_text">Футболка белая</p>
                    <p class="products_goods_lower_text">230₴</p>
                </div>
                <div class="products_goods_example">
                    <a routerLink='/product' href="#"><img class="t_shirt t_shirt_position" src="assets/img/9-800x800 1.png"></a>
                    <p class="products_goods_upper_text">Футболка белая</p>
                    <p class="products_goods_lower_text">230₴</p>
                </div>
                <div class="products_goods_example">
                    <a routerLink='/product' href="#"><img class="t_shirt t_shirt_position" src="assets/img/shirt_white.png"></a>
                    <p class="products_goods_upper_text">Футболка белая</p>
                    <p class="products_goods_lower_text">230₴</p></div>
                <div class="products_goods_example">
                    <a routerLink='/product' href="#"><img class="t_shirt t_shirt_position" src="assets/img/9-800x800 1.png"></a>
                    <p class="products_goods_upper_text">Футболка белая</p>
                    <p class="products_goods_lower_text">230₴</p>
                </div>
            </div>    
        </div> -->
    </div>
</div>