<div class="profile">
    <div class="profile_roof">
        <p class="profile_sign">Профиль</p>
        <a href="#" routerLink='/enter' class="profile_exit">Выйти</a>
    </div>
    <div class="profile_main">
        <div class="profile_history">
            <div class="profile_title_history">
                <p class="profile_title_sign">История заказов</p>
            </div>
            <div class="history_items">
                <div class="history_item">
                   <img class="item_img" src="assets/img/black_la_hat.jpg">
                   <div class="item_info">
                       <p class="item_name">Бейсболка LA</p>
                       <p class="item_price">61 руб.</p>
                       <div class="position_cancel">
                        <a href="#">
                           <img  src="assets/img/cross.png">  
                        </a>
                    </div>
                    </div>
                </div>
                <div class="history_item">
                    <img class="item_img" src="assets/img/black_la_hat.jpg">
                    <div class="item_info">
                        <p class="item_name">Бейсболка LA</p>
                        <p class="item_price">61 руб.</p>
                        <div class="position_cancel">
                            <a href="#">
                               <img  src="assets/img/cross.png">  
                            </a>
                        </div>
                     </div>
                 </div>
                 <div class="history_item">
                    <img class="item_img" src="assets/img/black_la_hat.jpg">
                    <div class="item_info">
                        <p class="item_name">Бейсболка LA</p>
                        <p class="item_price">61 руб.</p>
                        <div class="position_cancel">
                            <a href="#">
                               <img  src="assets/img/cross.png">  
                            </a>
                        </div>
                     </div>
                 </div>
            </div>
        </div>
        <div class="profile_history">
            <div class="profile_title_favors">
                <p class="profile_title_sign_centralised">Избранное</p>
            </div>
            <div class="profile_items">
                <div class="profile_item">
                   <img class="item_img" src="assets/img/black_stylish_sunglasses.jpg">
                   <div class="item_info">
                       <p class="item_name">Солнцезащитные очки мужские</p>
                       <p class="item_price">40 руб.</p>
                       <div class="position_cancel">
                        <a href="#">
                           <img  src="assets/img/cross.png">  
                        </a>
                    </div>
                    </div>
                </div>
                <div class="profile_item">
                    <img class="item_img" src="assets/img/black_stylish_sunglasses.jpg">
                    <div class="item_info">
                        <p class="item_name">Солнцезащитные очки мужские</p>
                        <p class="item_price">40 руб.</p>
                        <div class="position_cancel">
                            <a href="#">
                               <img  src="assets/img/cross.png">  
                            </a>
                        </div>
                     </div>
                 </div>
                 <div class="profile_item">
                    <img class="item_img" src="assets/img/black_stylish_sunglasses.jpg">
                    <div class="item_info">
                        <p class="item_name">Солнцезащитные очки мужские</p>
                        <p class="item_price">40 руб.</p>
                        <div class="position_cancel">
                            <a href="#">
                               <img  src="assets/img/cross.png">  
                            </a>
                        </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>