<div class="profile">
    <div class="profile_roof">
        <p class="profile_sign">Профиль</p>
        <a href="#" routerLink='/enter' class="profile_exit">Выйти</a>
    </div>
    <div class="profile_main">
        <div class="profile_history">
            <div class="profile_title_history">
                <p class="profile_title_sign">История заказов</p>
            </div>
            <div class="history_items">
                <!-- <nav>
                    <ul class="topmenu">
                        <li><a href="" class="down">Blog</a>
                        <ul class="submenu">
                          <li><a href="">Category</a></li>
                          <li><a href="">Author</a></li>
                          <li><a href="">Archive</a></li>
                          <li><a href="">Tags</a></li>
                        </ul>
                      </li>
                    </ul>
                </nav> -->
                <div class="history_item">
                   <img class="item_img" src="assets/img/9-800x800 1.png">
                   <div class="item_info">
                       <p class="item_name">Желтое худи</p>
                       <p class="item_type">худи, одежда</p>
                       <p class="item_price">1199.00 грн</p>
                       <div class="position_cancel">
                        <a href="#">
                           <img  src="assets/img/cross.png">  
                        </a>
                    </div>
                    </div>
                </div>
                <div class="history_item">
                    <img class="item_img" src="assets/img/9-800x800 1.png">
                    <div class="item_info">
                        <p class="item_name">Желтое худи</p>
                        <p class="item_type">худи, одежда</p>
                        <p class="item_price">1199.00 грн</p>
                        <div class="position_cancel">
                            <a href="#">
                               <img  src="assets/img/cross.png">  
                            </a>
                        </div>
                     </div>
                 </div>
                 <div class="history_item">
                    <img class="item_img" src="assets/img/9-800x800 1.png">
                    <div class="item_info">
                        <p class="item_name">Желтое худи</p>
                        <p class="item_type">худи, одежда</p>
                        <p class="item_price">1199.00 грн</p>
                        <div class="position_cancel">
                            <a href="#">
                               <img  src="assets/img/cross.png">  
                            </a>
                        </div>
                     </div>
                 </div>
            </div>
        </div>
        <div class="profile_history">
            <div class="profile_title_favors">
                <p class="profile_title_sign_centralised">Избранное</p>
            </div>
            <div class="profile_items">
                <!-- <nav>
                    <ul class="topmenu">
                      <li><a href="" class="down">Portfolio</a>
                        <ul class="submenu">
                          <li><a href="">Category</a></li>
                          <li><a href="">Author</a></li>
                          <li><a href="">Archive</a></li>
                          <li><a href="">Tags</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav> -->
                <div class="profile_item">
                   <img class="item_img" src="assets/img/shirt_white.png">
                   <div class="item_info">
                       <p class="item_name">Желтое худи</p>
                       <p class="item_type">худи, одежда</p>
                       <p class="item_price">1199.00 грн</p>
                       <div class="position_cancel">
                        <a href="#">
                           <img  src="assets/img/cross.png">  
                        </a>
                    </div>
                    </div>
                </div>
                <div class="profile_item">
                    <img class="item_img" src="assets/img/shirt_white.png">
                    <div class="item_info">
                        <p class="item_name">Желтое худи</p>
                        <p class="item_type">худи, одежда</p>
                        <p class="item_price">1199.00 грн</p>
                        <div class="position_cancel">
                            <a href="#">
                               <img  src="assets/img/cross.png">  
                            </a>
                        </div>
                     </div>
                 </div>
                 <div class="profile_item">
                    <img class="item_img" src="assets/img/shirt_white.png">
                    <div class="item_info">
                        <p class="item_name">Желтое худи</p>
                        <p class="item_type">худи, одежда</p>
                        <p class="item_price">1199.00 грн</p>
                        <div class="position_cancel">
                            <a href="#">
                               <img  src="assets/img/cross.png">  
                            </a>
                        </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</div>