.profile {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
}

.profile_roof {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.profile_sign {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #333;
    padding-top: 15%;
    padding-bottom: 15%;
}

.profile_exit {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    position: relative;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #333;
    margin: 0 auto;
    text-decoration: none;
    transition: .5s;
}

.profile_exit:after {
    display: block;
    position: absolute;
    top: 35px;
    left: 0; 
    width: 0;
    height: 2px; 
    background-color: rgb(63, 103, 204); 
    content: "";
    transition: width 0.3s ease-out;
}
  
.profile_exit:hover:after,
.profile_exit:focus:after {
    width: 100%;
}
  
.profile_exit:hover {
      color: rgb(63, 103, 204); 
}

.profile_main {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-top: 5%;
}

.profile_history {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.profile_title_history {
    width: 365px;
    height: 63px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    justify-content: center;
    margin: 0 auto;
    transition: .6s;
}

.profile_title_favors {
    width: 365px;
    height: 63px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    justify-content: center;
    margin: 0 auto;
    transition: .6s;
}

.profile_title_sign {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-left: 25%;
    padding-top: 4%;  
    color: #333;
    transition: .6s;
}

.profile_title_sign_centralised {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-left: 35%;
    padding-top: 4%;  
    color: #333;
    transition: .6s;
}

.history_item {
    display: flex;
    justify-content: center;
    gap: 15px;
    transition: .5s;
    width: 500px;
}

.profile_item {
    display: flex;
    justify-content: center;
    gap: 15px;
    transition: .5s;
    width: 500px;
}

.history_items {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    transition: .5s;
    padding-top: 10%;
    padding-bottom: 15%;
    gap: 80px;
    opacity: 0.5;
}

.profile_items {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    transition: .5s;
    padding-top: 10%;
    padding-bottom: 15%;
    gap: 80px;
    opacity: 0.5;
}

.position_cancel img{
    width: 14.5px;
    height: 14.5px;
    transform: rotate(90deg);
}

.position_cancel {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(63, 103, 204);
    border-radius: 20px;
    right: -10px;
    margin-top: 60px;
    padding-top: 12.8px;
    padding-left: 13px;
    visibility: hidden;
    transition: .5s;
}

.item_img {
    width: 164px;
    height: 163px;
}

.item_info {
    display: flex;
    flex-direction: column;
}

.item_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #333;
    white-space: nowrap;
    padding-top: 5%;
}

.item_type {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #333;
    text-align: left;
    white-space: nowrap;
}

.item_price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: rgb(63, 103, 204);
    padding-top: 12%;
}

.profile_title_history:hover {
    background-color: rgb(63, 103, 204);
    .profile_title_sign {
      color: #fff;
    }
    
}

.history_items:hover {
    opacity: 1;
}

.profile_title_favors:hover {
    background-color: rgb(63, 103, 204);
    .profile_title_sign_centralised {
      color: #fff;
    }
    
}

.profile_items:hover {
    opacity: 1;  
}

.history_item:hover {
    background-color: rgb(63, 103, 204);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .item_name {
        color:#fff;
    }
    .item_type {
        color:#fff;
    }
    .item_price {
        color: black;
    }
    .position_cancel {
        visibility: visible;
    }
}

.profile_item:hover {
    background-color: rgb(63, 103, 204);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .item_name {
        color:#fff;
    }
    .item_type {
        color:#fff;
    }
    .item_price {
        color: black;
    }
    .position_cancel {
        visibility: visible;
    }
}

@media screen and (max-width:960px) {
    .profile_main {
        display: flex;
        flex-direction: column;
    }
    .profile_history {
        width: 100%;
    }
}

@media screen and (max-width:570px) {
    .history_item {
        justify-content: left;
        width: 100%;
        padding: 10px;
    }
    .profile_item {
        justify-content: left;
        width: 100%;
        padding: 10px;
    }
    .history_items {
        width: 100%;
    }
    .item_name {
        font-size: 20px;
    }
    .profile_items {
        width: 100%;
    }
}