<div class="home">
    <div class="wrap_home">
    <div class="carousel_wrapper">
        <span id="slide_1"></span>
        <span id="slide_2"></span>
        <span id="slide_3"></span>
        <div class="carousel_slide slide_1">
          <p>Выбери что-нибудь для неё...</p>
          <a class="arrow arrow_prev" href="#slide_3"></a>
          <a class="arrow arrow_next" href="#slide_2"></a>
        </div>
        
        <div class="carousel_slide slide_2">
          <p>...или для него...</p>
          <a class="arrow arrow_prev" href="#slide_1"></a>
          <a class="arrow arrow_next" href="#slide_3"></a>
        </div>
        
        <div class="carousel_slide slide_3">
          <p>...или для вас обоих!</p>
          <a class="arrow arrow_prev" href="#slide_2"></a>
          <a class="arrow arrow_next" href="#slide_1"></a>
        </div>
    </div>
    <div id="catalog" class="sign_logo">
        <h1>Lorem <span class="blue_text">ipsum</span> shop</h1>
        <p class="sign_text">Брендовая одежда на любой вкус Коллекция постоянно пополняется!</p>
        <a routerLink='/products' href="#" class="sign_catalog">Каталог</a>
    </div>
    </div>
    <hr>
    <div class="about">

    <div class="slider">
        <input type="radio" name="slider" title="slide1" checked="checked" class="slider_nav"/>
        <input type="radio" name="slider" title="slide2" class="slider_nav"/>
        <input type="radio" name="slider" title="slide3" class="slider_nav"/>
        <input type="radio" name="slider" title="slide4" class="slider_nav"/>
        <div class="slider_inner">
          <div id="about" class="slider_contents"><i class="slider_image"></i>
            <h2 class="slider_caption">Кто мы?</h2>
            <p class="slider_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
          </div>
          <div class="slider_contents"><i class="slider_image"></i>
            <h2 class="slider_caption">Чем мы занимаемся?</h2>
            <p class="slider_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
          </div>
          <div class="slider_contents"><i class="slider_image"></i>
            <h2 class="slider_caption">Что есть на этом сайте?</h2>
            <p class="slider_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
          </div>
          <div class="slider_contents"><i class="slider_image"></i>
            <h2 class="slider_caption">Наши перспективы</h2>
            <p class="slider_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
          </div>
        </div>
    </div>
    <div class="sign_logo">
        <h1>Узнать<br><span class="blue_text">о нас</span> больше!</h1>
        <a id="catalog" routerLink='/about' href="#" class="sign_catalog">Подробно</a>
    </div>
    </div>
    <hr>
    
    <div class="registration">
        <div class="registration_text">
        <div id="enter" class="sign_logo">
            <h1>Хотите что-то <br><span class="blue_text">приобрести?</span></h1>
            <p class="sign_text">Пройдите регистрацию - это быстро и легко!</p>
            <a routerLink='/enter' href="#" class="sign_catalog">Регистрация</a>
        </div>
        </div>
    </div>
    <hr>
    <div class="contacts">
        <div class="sign_logo">
            <h1>Связаться с <span class="blue_text">нами</span> -</h1>
            <p class="sign_text">легко и просто. Проверьте!</p>
        </div>
        <div id="contacts" class="contacts_field">
            <div class="contacts_field_left_part">
            <div class="contacts_field_inputs">
                <div class="contacts__input">
                    <input
                    class="form-control"
                    name="name"
                    [(ngModel)]="contactForm.name"
                    #name="ngModel"
                    required
                    type="text"
                    placeholder="Ваше имя">
                    <div
                    [hidden]="name.valid || name.untouched"
                    class="alert"
                    *ngIf="!visibility"
                    >
                      *Не указано имя
                    </div>
                </div>
                <div class="contacts__input">
                    <input
                    type="email"
                    class="form-control"
                    name="Email"
                    placeholder="Email"
                    [(ngModel)]="contactForm.email"
                    #email="ngModel"
                    required
                    pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$">
                    <div
                    [hidden]="email.valid || email.untouched"
                    class="alert"
                    *ngIf="!visibility"
                    >
                      *Некорректный email
                    </div>
                </div>
                <div class="contacts__input">
                    <input 
                    type="phone"
                    placeholder="Телефон"
                    class="form-control"
                    name="phone"
                    [(ngModel)]="contactForm.phone"
                    #phone="ngModel"
                    required
                    pattern="[0-9]{12}">
                    <div
                    [hidden]="phone.valid || phone.untouched"
                    class="alert"
                    *ngIf="!visibility"
                    >  
                      *Введите номер в 12-значном формате
                    </div>
                </div>
                <div class="contacts__input">
                    <input 
                    type="text"
                    placeholder="Ваше сообщение"
                    class="form-control"
                    name="message"
                    placeholder="Сообщение"
                    max="200"
                    [(ngModel)]="contactForm.message"
                    #message="ngModel">
                </div>
                <div class="alert alert-success" role="alert" *ngIf="visibility">
                    <p
                      [ngClass]="{
                        'status-success': messageStatus === true,
                        'status-error': messageStatus === false
                      }"
                    >
                      {{ messageSubmit }}
                    </p>
                </div>
                <input type="submit" class="sign_catalog submit_button" value="Связаться с нами" (click)="onSubmit()">
                <div class="social_network_home">
                <a href="https://www.instagram.com/artukhovskiy/">
                    <img src="assets/img/instagram_new.png" alt="social">
                </a>
                <a href="https://vk.com/id84353596">
                    <img src="assets/img/vk.png" alt="social">
                </a>
                </div>
            </div>
            
            </div>
            <div class="contacts_field_right_part">
                <div class="contacts_field_block">
                    <img src="assets/img/location_new.png" alt="social">
                    <div class="contacts_field_text">
                        <p class="contacts_field_upper_text">Address</p>
                        <p class="contacts_field_lower_text">Coza Store Center 8th floor, 379 Hudson St, New York, NY 10018 US</p>
                    </div>
                </div>
                <div class="contacts_field_block">
                    <img src="assets/img/telephone.png" alt="social">
                    <div class="contacts_field_text">
                        <p class="contacts_field_upper_text">Lets Talk</p>
                        <p class="contacts_field_lower_text_blue">+1 800 1236879</p>
                    </div>
                </div>
                <div class="contacts_field_block">
                    <img src="assets/img/mail.png" alt="social">
                    <div class="contacts_field_text">
                        <p class="contacts_field_upper_text">Sale Support</p>
                        <p class="contacts_field_lower_text_blue">contact@example.com</p>
                    </div>
                </div>
            </div>
        </div>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2003.9220045591112!2d37.41079786002719!3d55.68331233629306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54e0d45323bd5%3A0xda6c23026165b2da!2z0JfQsNGA0LXRh9GM0LUsINCc0L7RgdC60L7QstGB0LrQsNGPINC-0LHQuy4!5e0!3m2!1sru!2sru!4v1594646576788!5m2!1sru!2sru" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>