<div class="home">
    <div class="wrap_home">
    <div class="carousel-wrapper">
        <span id="item-1"></span>
        <span id="item-2"></span>
        <span id="item-3"></span>
        <div class="carousel-item item-1">
          <p>Выбери что-нибудь для неё...</p>
          <a class="arrow arrow-prev" href="#item-3"></a>
          <a class="arrow arrow-next" href="#item-2"></a>
        </div>
        
        <div class="carousel-item item-2">
          <p>...или для него...</p>
          <a class="arrow arrow-prev" href="#item-1"></a>
          <a class="arrow arrow-next" href="#item-3"></a>
        </div>
        
        <div class="carousel-item item-3">
          <p>...или для вас обоих!</p>
          <a class="arrow arrow-prev" href="#item-2"></a>
          <a class="arrow arrow-next" href="#item-1"></a>
        </div>
    </div>
    <div id="catalog" class="sign_logo">
        <h1>Lorem <span class="blue_text">ipsum</span> shop</h1>
        <p class="sign_text">Брендовая одежда на любой вкус Коллекция постоянно пополняется!</p>
        <a routerLink='/products' href="#" class="sign_catalog">Каталог</a>
    </div>
    </div>
    <hr>
    <div class="about">

    <div class="slider">
        <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
        <input type="radio" name="slider" title="slide2" class="slider__nav"/>
        <input type="radio" name="slider" title="slide3" class="slider__nav"/>
        <input type="radio" name="slider" title="slide4" class="slider__nav"/>
        <div class="slider__inner">
          <div id="about" class="slider__contents"><i class="slider__image fa fa-codepen"></i>
            <h2 class="slider__caption">Кто мы?</h2>
            <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
          </div>
          <div class="slider__contents"><i class="slider__image fa fa-newspaper-o"></i>
            <h2 class="slider__caption">Чем мы занимаемся?</h2>
            <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
          </div>
          <div class="slider__contents"><i class="slider__image fa fa-television"></i>
            <h2 class="slider__caption">Что есть на этом сайте?</h2>
            <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
          </div>
          <div class="slider__contents"><i class="slider__image fa fa-diamond"></i>
            <h2 class="slider__caption">Наши перспективы</h2>
            <p class="slider__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cupiditate omnis possimus illo quos, corporis minima!</p>
          </div>
        </div>
    </div>
    <div class="sign_logo">
        <h1>Узнать<br><span class="blue_text">о нас</span> больше!</h1>
        <a id="catalog" routerLink='/products' href="#" class="sign_catalog">Подробно</a>
    </div>
    </div>
    <hr>
    
    <div class="registration">
        <div class="registration_text">
        <div id="enter" class="sign_logo">
            <h1>Хотите что-то <br><span class="blue_text">приобрести?</span></h1>
            <p class="sign_text">Пройдите регистрацию - это быстро и легко!</p>
            <a routerLink='/enter' href="#" class="sign_catalog">Регистрация</a>
        </div>
        </div>
    </div>
    <hr>
    <div class="contacts">
        <div class="sign_logo">
            <h1>Связаться с <span class="blue_text">нами</span> -</h1>
            <p class="sign_text">легко и просто. Проверьте!</p>
        </div>
        <div id="contacts" class="contacts_field">
            <div class="contacts_field_left_part">
            <div class="contacts_field_inputs">
                <div class="contacts__input">
                    <input type="text" placeholder="Ваше имя">
                </div>
                <div class="contacts__input">
                    <input type="mail" placeholder="Email">
                </div>
                <div class="contacts__input">
                    <input type="phone" placeholder="Телефон">
                </div>
                <div class="contacts__input">
                    <input type="text" placeholder="Ваше сообщение">
                </div>
                <input type="submit" class="sign_catalog submit_button" value="Связаться с нами">
                <div class="social_network_home">
                <a href="https://www.instagram.com/artukhovskiy/">
                    <img src="assets/img/instagram_new.png" alt="social">
                </a>
                <a href="https://vk.com/id84353596">
                    <img src="assets/img/vk.png" alt="social">
                </a>
                </div>
            </div>
            
            </div>
            <div class="contacts_field_right_part">
                <div class="contacts_field_block">
                    <img src="assets/img/location_new.png" alt="social">
                    <div class="contacts_field_text">
                        <p class="contacts_field_upper_text">Address</p>
                        <p class="contacts_field_lower_text">Coza Store Center 8th floor, 379 Hudson St, New York, NY 10018 US</p>
                    </div>
                </div>
                <div class="contacts_field_block">
                    <img src="assets/img/telephone.png" alt="social">
                    <div class="contacts_field_text">
                        <p class="contacts_field_upper_text">Lets Talk</p>
                        <p class="contacts_field_lower_text_blue">+1 800 1236879</p>
                    </div>
                </div>
                <div class="contacts_field_block">
                    <img src="assets/img/mail.png" alt="social">
                    <div class="contacts_field_text">
                        <p class="contacts_field_upper_text">Sale Support</p>
                        <p class="contacts_field_lower_text_blue">contact@example.com</p>
                    </div>
                </div>
            </div>
        </div>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2003.9220045591112!2d37.41079786002719!3d55.68331233629306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54e0d45323bd5%3A0xda6c23026165b2da!2z0JfQsNGA0LXRh9GM0LUsINCc0L7RgdC60L7QstGB0LrQsNGPINC-0LHQuy4!5e0!3m2!1sru!2sru!4v1594646576788!5m2!1sru!2sru" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>